@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato);

html {
    background-color: #f6f9f9;
    color: #95a4a9;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    margin: 0 40px 20px 0;
}

.logo img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 125px;
}

.content {
    margin-top: 25px;
    float: left;
    padding-left: 25%;
    width: 50%;
    text-align: center;
}

.form {
    padding-top: 25px;
}

.title {
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
}

p, .title {
    margin-bottom: 20px;
}

p {
    font-weight: bold;
}

a {
    color: #339999;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

/*@media handheld, only screen and (max-width: 720px) {
    .logo,
    .content {
        float: none;
    }

    .logo img {
        max-width: 125px;
        max-height: 125px;
    }

    .content {
        width: 100%;
    }
}*/

input[type="text"], button {
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: relative;
    text-rendering: optimizelegibility;
    outline: 0px none;
    float: left;
}

input[type="text"] {
    border: 1px solid #EE6123;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 3px 8px 3px 8px;
    height: 60px;
    width: calc(100% - 150px);
    font-size: 16px;
    line-height: 18px;
    color: #292929;
}

input[type="text"]:focus,
input[type="text"]:active {
    border-color: #E45212;
    background-color: #fef7f4;
}

button:focus,
button:hover {
    background-color: #E45212;
}

button {
    top: 1px;
    height: 66px;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #EE6123;
    color: #FFF;
    border: 0 !important;
    box-shadow: 0 0 0 1px #EE6123;
    cursor: pointer;
    width: 120px;
    text-transform: uppercase;
}

input.error {
    border-color: #E83535 !important;
}

label.error {
    color: #E83535;
}
